<style>
  @font-face { font-family: LemonMilk; src: url('../fonts/LemonMilk.otf'); }
  @font-face { font-family: NeouThin; src: url('../fonts/Neou-Thin.otf'); }
  @font-face { font-family: NeouBold; src: url('../fonts/Neou-Bold.ttf'); }
  @font-face { font-family: Avenir; src: url('../fonts/Avenir.ttc'); }

  .about{
    margin-bottom: 5%;
  }

  a{
    text-decoration: none;
  }
    h1{
      font-size: 200%;
      font-family: LemonMilk;
    }

    h2{
      font-size: 100%;
      font-family: NeouBold;
    }
    h3{
      font-size: 80%;
      font-family: NeouThin;
    }
    h4{
      font-size: 70%;
      font-family: NeouBold;
    }
    p{
      font-size: 60%;
      font-family: Avenir;
    }
    div{
      padding-top:2%;
    }

    .header{
      margin: auto;
      width: 80%;
      box-shadow: 0px 10px 10px -9px #4E4E4E;
      background-image: url("../img/ContentGradient.jpg");
      background-attachment: fixed;
      position: fixed;
      left:10%;

    }

    #menu ul{
      margin-left: 20%;
      margin-right: 20%;
      display: inline-block;
      min-width: 60%;
      font-size: 80%;
      font-weight: bold;
      color: #ffffff;
      text-decoration: none;
    }

    #menu a:link {
      color: white;
    }

    #menu a:visited{
      color: white;
    }

    #menu a:hover{
      color: black;
    }

    #menu a:active{
      color: red;
    }

    #menu{
      background-color: #ffa24b;
      background-image: url("../img/PinkGradientBackground.jpg");
      height: 5%;
    }

    #menu li {
    font-family: NeouBold;
    margin: 0 5% 0 5%;
    display: inline-block;
    list-style:none;
}

  .container {
    width: 80%;
    box-shadow: 0px 0px 40px grey;
    position: absolute;
    top: 32%;
    left:10%;
    z-index: -1;
    background-image: url("../img/ContentGradient.jpg");
    background-attachment: fixed;
    /*overflow-y:scroll;
    overflow-x: hidden;*/
    }

 .myInfo{
   float: left;
   position:relative;
   z-index: 3;
   background-image: url("../img/ContentGradient.jpg");
   background-attachment: fixed;
   margin: 0;
   box-shadow: 0px 5px 30px 1px pink;

 }

 #subscription {
   padding-top: 40%;
   display: inline-block;
   float: right;
   width: 50%;
   font-size: 50%;
}

.slideshow{
  width: 90%;
  height: 70%;
  top:15%;
  box-shadow: 0px 0px 40px grey;
  position: absolute;
  left:5%;
  padding: 0;
  background: #B2E2F2;
  overflow: hidden;
}

#enter{
  position: absolute;
  font-family: NeouBold;
  color: white;
  padding: 2%;
  font-size: 50%;
  width: 20%;
  border: white solid 1px;
  position: absolute;
  top: 48%;
  left: 38%;
  text-align: center;
}

#enter:hover{
  /**background-image: url("../img/PinkGradientBackground.jpg");**/
  background: #B2E2F2;
  cursor: url("cursor.png"), auto;
}

#reveal{
  cursor: pointer;
}

.about{
  margin-bottom: 18%;
}

.content{
  margin-top: 20%;
}

</style>
